<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="/js/main.js"></script>
	<link rel="stylesheet" href="/css/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Конвертер</h1>

	<table border="0" cellpadding="7" cellspacing="0">
		<tr>
			<td>
	        	<select id="currency1">
	          		<option th:each ="rateData : ${rateDataList}" th:value="${rateData.value}" th:text="${rateData.name}" th:selected="${rateData.currency.getCharcode() == 'USD'}"></option>
	        	</select>
	      	</td>
			<td>
		        <select id="currency2">
		        	<option th:each ="rateData : ${rateDataList}" th:value="${rateData.value}" th:text="${rateData.name}"></option>
		        </select>
       		</td>
		</tr>
		<tr>
			<td>
        		<input id="inp" placeholder="Введите сумму..." />
      		</td>
			<td>
        		<input id="result" readonly/>
      		</td>
		</tr>
    	<tr>
      		<td>
        		<button onclick="handleInput()">Конвертировать</button>
      		</td>
    	</tr>
	</table>
    
    <p class="error" id="message"></p>
    
    <h2>История операций</h2>
    
    <table id="history" border="1" cellpadding="7" cellspacing="0">
		<tr>
			<td>Исходная валюта</td>
			<td>Целевая валюта</td>
			<td>Исходная сумма</td>
			<td>Результат</td>
			<td>Дата</td>
		</tr>
		<tr th:each ="event : ${eventList}">
			<td th:text="${event.currency1.name}"></td>
			<td th:text="${event.currency2.name}"></td>
			<td th:text="${event.sum}"></td>
			<td th:text="${event.result}"></td>
			<td th:text="${event.getDateAsString()}"></td>
		</tr>
	</table> 

</body>
</html>